main {
    margin: 0 auto;
    max-width: 100%;
    padding: 50px 30px;
  }
  
  :root {
    --black: #282c34;
    --red: #e06c75;
    --green: #98c379;
    --yellow: #e5c07b;
    --blue: #61afef;
    --purple: #c678dd;
    --teal: #56b6c2;
    --grey: #abb2bf;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    display: block;
    justify-content: center;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: 0.1em;
    background: var(--black);
    color: var(--grey);
    font-family: 'Mukta', sans-serif;  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Mukta', sans-serif;  }
  
  h1 {
    font-size: 2.25rem;
    padding-top: 0px;
    color: var(--yellow);
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  header {
    display: flex;
    padding-left: 5%;
    width: 100%;
    align-items: center;
  }
  
  ul.nav.nav-pages {
    top: 0;
    right: 0;
    width: 50%;
    padding-right: 15%;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--black);
    font-size: 1.5em;
    list-style-type: none;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--grey);
  }
  
  a:hover {
    color: var(--blue);
  }
  
  div {
    display: block;
  }
  
  div.card {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 50em;
    padding: 1rem 1rem 20px;
    background-color: var(--black);
    box-shadow: 0 7px 14px black, 0 5px 5px black;
    border: 1px solid transparent;
    padding-left: 20px;
    flex-grow: 1;
  }
  
  div.card-body {
    padding-left: 20px;
  }
  
  div.about-body {
    font-size: 1em;  
  }
  
  div.port-body {
    padding-top: 20px;
  }
  
  div h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  form {
    margin: 0 auto;
    width: 40%;
    display: block;
  }
  
  .form-text {
    padding-left: 95px;
    color: var(--grey);
    display: none;
  }
  
  input {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid var(--grey);
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.2s;
    display: block;
  }
  
  input:focus {
    border: 1px solid var(--green);
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
  }
  
  textarea {
    margin: 0 auto;
    width: 500px;
    height: 120px;
    border: 3px solid var(--grey);
    display: flex;
  }
  
  button {
    margin: 20px auto;
    background-color: var(--blue);
    border: none;
    color: #ffffff;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 8px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding-right: 35px;
  }
  
  footer ul li {
    display: inline;
    font-size: 35px;
    padding: 1rem;
  }
  
  p.error-msg {
    display: flex;
    justify-content: center;
  }
  
  div.skills {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  div.download {
    display: flex;
    justify-content: center;
  }
  
  div.email {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 908px) {
    header {
      display: block;
    }
  
    ul.nav.nav-pages {
      display: block;
      width: 100%;
    }
  
    h1 {
      padding-top: 50px;
    }
  
    div.card {
      width: 100%;
      display: block;
    }
  
    img.card-img-left {
      width: 100%;
    }
  
    form {
      display: block;
      width: 100%;
    }
  
    .form-text {
      display: none;
    }
  
    div.skills {
      width: 100%;
      display: block;
    }
  }
  